@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
 

@layer base {
    :root {
        --rPrimaryWhite: #F5F5F5;
        --rSidebarGray: #333533;
        --rYellow: #F5CB5C;
        --rBgGreen: #0FAC82;
        --rDarkGreen: #085641;
        --rDarkerGlass:rgba(44, 47, 72,.85);
        --rGlassWindow: rgba(44, 47, 72,.5);
        --rGlassWindowLighter:rgba(44, 47, 72,.2);
        --rGlassWindowLighterSelect:rgba(44, 47, 72,.1);
        --rGrayBack: #C5C5C5;
        --rSelectBlue: #4699E5;
    }
    html,body {
        @apply bg-PrimaryWhite font-Akshar
    }
    @media (max-width:1023px) {
        html,body{
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
        html::-webkit-scrollbar {
            display: none;
        }
        body::-webkit-scrollbar {
            display: none;
        }
    }
}

@layer components{

    .projectFlexDiv{
        @apply 
        flex-grow
        overflow-y-scroll
       
        w-auto
        
        px-[2.21%]

        sLaptop:px-0

        grid
        justify-center
        sLaptop:justify-evenly

        tinyCol
        mobile:mobileCol
        sMobile:sMobileCol
        mMobile:mMobileCol
        sLaptop:sLaptopTempCol  
        mLaptop:mLaptopTempCol
        desktop:desktopTempCol
        largeDesktop:largeDesktoptempCol

        /* h-[20.996rem]
        mobile:h-[27.994rem]
        sMobile:h-[44.791rem]
        mMobile:h-[53.75rem] */

        sLaptop:h-[23.467rem]
        mLaptop:h-[29.333rem]
        desktop:h-[35.2rem]
        largeDesktop:h-[44rem]

        pt-[0.732rem]
        mobile:pt-[0.976rem]
        sMobile:pt-[1.562rem]
        mMobile:pt-[1.875rem]
        sLaptop:pt-[0.667rem]
        mLaptop:pt-[0.846rem]
        desktop:pt-[1.016rem]
        largeDesktop:pt-[1.25rem]
    }

    .projectCSS{
        @apply 
        inline-block
        sLaptop:w-[11.16339rem]
        mLaptop:w-[13.90158rem]
        desktop:w-[16.8504rem]
        largeDesktop:w-[21.063rem]
        sLaptop:h-[12.62089rem]
        mLaptop:h-[15.71658rem]
        desktop:h-[19.0504rem]
        largeDesktop:h-[23.813rem]
        sLaptop:rounded-[0.40068rem]
        mLaptop:rounded-[0.49896rem]
        desktop:rounded-[0.6048rem]
        largeDesktop:rounded-[.756rem]
        relative
        sLaptop:hover:ring-[0.10918rem]
        mLaptop:hover:ring-[0.13596rem]
        desktop:hover:ring-[0.1648rem]
        largeDesktop:hover:ring-[0.206rem]
        hover:ring-offset-0
        hover:ring-SelectBlue
        hover:cursor-pointer
    }

    .bubble {
        @apply 
        w-[1.171rem]
        mobile:w-[1.562rem]
        sMobile:w-[2.499rem]
        mMobile:w-[3rem]
        sLaptop:w-[2.385rem]
        mLaptop:w-[2.97rem]
        desktop:w-[3.6rem]
        largeDesktop:w-[4.5rem]
        h-[1.171rem]
        mobile:h-[1.562rem]
        sMobile:h-[2.499rem]
        mMobile:h-[3rem]
        sLaptop:h-[2.385rem] 
        mLaptop:h-[2.97rem]
        desktop:h-[3.6rem]
        largeDesktop:h-[4.5rem]  
        opacity-50
        block 
        rounded-full
    }

    .mockBrowserSelected {
        @apply 
       
        w-[calc(100%/3-(0.126rem*2))]
        mobile:w-[calc(100%/3-(0.169rem*2))]
        sMobile:w-[calc(100%/3-(0.270rem*2))]
        mMobile:w-[calc(100%/3-(.325rem*2))]
        sLaptop:w-[8.9rem]
        mLaptop:w-[11.125rem]
        desktop:w-[13.35rem]
        largeDesktop:w-[16.688rem]
        
        h-full
        absolute
        z-[4]
        bottom-0
        left-0
        sLaptop:left-[1.333rem]
        mLaptop:left-[1.666rem]
        desktop:left-[2rem]
        largeDesktop:left-[3.125rem]
        bg-PrimaryWhite

        rounded-t-[0.244rem]
        mobile:rounded-t-[0.326rem]
        sMobile:rounded-t-[0.521rem]
        mMobile:rounded-t-[0.625rem]
        sLaptop:rounded-t-[.53rem]
        mLaptop:rounded-t-[.66rem]
        desktop:rounded-t-[.8rem]
        largeDesktop:rounded-t-[1rem]

        after:content-['']
        after:block
        after:absolute
        after:w-[1.171rem]
        after:mobile:w-[1.301rem]
        after:sMobile:w-[2.499rem]
        after:mMobile:w-[3rem]
        after:sLaptop:w-[1.325rem]
        after:mLaptop:w-[1.65rem]
        after:desktop:w-[2rem]
        after:largeDesktop:w-[2.5rem]
        after:h-[1rem]
        after:mobile:h-[1.5rem]
        after:sMobile:h-[1.666rem]
        after:mMobile:h-[2rem]
        after:sLaptop:h-[1rem]
        after:mLaptop:h-[1.33rem]
        after:desktop:h-[1.66rem]
        after:largeDesktop:h-[2rem]
        after:bottom-0
        after:right-[-1.171rem]
        after:mobile:right-[-1.301rem]
        after:sMobile:right-[-2.499rem]
        after:mMobile:right-[-3rem]
        after:sLaptop:right-[-1.325rem]
        after:mLaptop:right-[-1.65rem]
        after:desktop:right-[-2rem]
        after:largeDesktop:right-[-2.5rem]
        after:rounded-bl-[0.488rem]
        after:mobile:rounded-bl-[0.651rem]
        after:sMobile:rounded-bl-[1.041rem]
        after:mMobile:rounded-bl-[1.25rem]
        after:sLaptop:rounded-bl-[.424rem]
        after:mLaptop:rounded-bl-[0.528rem]
        after:desktop:rounded-bl-[.64rem]
        after:largeDesktop:rounded-bl-[.8rem]
        after:invertRight
        after:sMobile:LargerInvertRight
        after:bg-transparent
        
        
        before:content-['']
        before:block
        before:absolute
        before:bg-black
        before:w-[1.171rem]
        before:mobile:w-[1.5rem]
        before:sMobile:w-[2.499rem]
        before:mMobile:w-[3rem]
        before:sLaptop:w-[1.325rem]
        before:mLaptop:w-[1.65rem]
        before:desktop:w-[2rem]
        before:largeDesktop:w-[2.5rem]
        before:h-[1rem]
        before:mobile:h-[1.5rem]
        before:sMobile:h-[1.666rem]
        before:mMobile:h-[2rem]
        before:sLaptop:h-[1rem]
        before:mLaptop:h-[1.33rem]
        before:desktop:h-[1.66rem]
        before:largeDesktop:h-[2rem]
        before:bottom-0
        before:left-[-1.171rem]
        before:mobile:left-[-1.5rem]
        before:sMobile:left-[-2.499rem]
        before:mMobile:left-[-3rem]
        before:sLaptop:left-[-1.325rem]
        before:mLaptop:left-[-1.65rem]
        before:desktop:left-[-2rem]
        before:largeDesktop:left-[-2.5rem]
        before:rounded-br-[0.488rem]
        before:mobile:rounded-br-[0.651rem]
        before:sMobile:rounded-br-[1.041rem]
        before:mMobile:rounded-br-[1.25rem]
        before:sLaptop:rounded-br-[.424rem]
        before:mLaptop:rounded-br-[0.528rem]
        before:desktop:rounded-br-[.64rem]
        before:largeDesktop:rounded-br-[.8rem]
        before:invertLeft
        before:sMobile:largerInvertLeft
        before:bg-transparent

    }
    .sectionCSS {
        @apply 
        text-SiteYellow
        font-bold
        leading-none
        text-[1.458rem]
        mobile:text-[1.943rem]
        sMobile:text-[3.109rem]
        mMobile:text-[3.731rem]
        sLaptop:text-[3.333rem]
        mLaptop:text-[4.167rem]
        desktop:text-[5rem]
        largeDesktop:text-[6.25rem]
        sectionText
        mobile:sectionTextMobile
        sMobile:sectionTextsMobile
        mMobile:sectionTextmMobile
        sLaptop:sectionTextSmall
        mLaptop:sectionTextMedium
        desktop:sectionTextDesktop
        largeDesktop:sectionTextLarge
    }
    .circle1 {
        @apply 
        w-[1.511rem] h-[1.511rem]
        mobile:w-[2.014rem] mobile:h-[2.014rem]
        sMobile:w-[3.223rem] sMobile:h-[3.223rem]
        mMobile:w-[3.867rem] mMobile:h-[3.867rem]
        sLaptop:w-[3.867rem] sLaptop:h-[3.867rem]
        mLaptop:w-[4.833rem] mLaptop:h-[4.833rem]
        desktop:w-[5.8rem] desktop:h-[5.8rem]
        largeDesktop:w-[7.25rem] largeDesktop:h-[7.25rem]
        top-[-0.3906rem]
        mobile:top-[-.5208rem]
        sMobile:top-[-1.0941rem]
        mMobile:top-[-1.313rem] left-[-2.86%]
        sLaptop:top-[-1.367rem] sLaptop:left-[0.533rem]
        mLaptop:top-[-1.708rem] mLaptop:left-[0.667rem]
        desktop:top-[-2.05rem] desktop:left-[0.8rem]
        largeDesktop:top-[-2.563rem] largeDesktop:left-[1rem]
        absolute
        z-[4]
        bg-PrimaryWhite opacity-50
        rounded-full
    }
    .circle2{
        @apply 
        w-[1.38rem] h-[1.38rem]
        mobile:w-[1.84rem] mobile:h-[1.84rem]
        sMobile:w-[2.944rem] sMobile:h-[2.944rem]
        mMobile:w-[3.533rem] mMobile:h-[3.533rem]
        sLaptop:w-[3.533rem] sLaptop:h-[3.533rem]
        mLaptop:w-[4.417rem] mLaptop:h-[4.417rem]
        desktop:w-[5.3rem] desktop:h-[5.3rem]
        largeDesktop:w-[6.625rem] largeDesktop:h-[6.625rem]
        top-[13.9397rem]
        mobile:top-[18.5874rem]
        sMobile:top-[29.7399rem]
        mMobile:top-[35.688rem] left-[13.67%]
        sLaptop:left-[12%]
        sLaptop:top-[30.688rem]
        mLaptop:top-[38.375rem]
        desktop:top-[46.063rem]
        largeDesktop:top-[62rem]
        absolute
        z-[4]
        bg-PrimaryWhite opacity-50
        rounded-full
    }
    .circle3{
        @apply 
        w-[2.149rem] h-[2.149rem]
        mobile:w-[2.864rem] mobile:h-[2.864rem]
        sMobile:w-[4.583rem] sMobile:h-[4.583rem]
        mMobile:w-[5.5rem] mMobile:h-[5.5rem]
        sLaptop:w-[5.5rem] sLaptop:h-[5.5rem]
        mLaptop:w-[6.875rem] mLaptop:h-[6.875rem]
        desktop:w-[8.25rem] desktop:h-[8.25rem]
        largeDesktop:w-[10.313rem] largeDesktop:h-[10.313rem]
        right-[14.84%]
        sLaptop:right-auto
        sLaptop:left-[37%]
        top-[0.3906rem]
        mobile:top-[0.7489rem]
        sMobile:top-[1.1983rem]
        mMobile:top-[1.438rem]
        sLaptop:top-[-2.104rem]
        mLaptop:top-[-2.708rem] 
        desktop:top-[-3.25rem] 
        largeDesktop:top-[-4.063rem] 
        absolute
        z-[4]
        bg-PrimaryWhite opacity-50
        rounded-full
    }
    .circle4{
        @apply 
        w-[1.511rem] h-[1.511rem]
        mobile:w-[2.014rem] mobile:h-[2.014rem]
        sMobile:w-[3.223rem] sMobile:h-[3.223rem]
        mMobile:w-[3.867rem] mMobile:h-[3.867rem]
        sLaptop:w-[3.867rem] sLaptop:h-[3.867rem]
        mLaptop:w-[4.833rem] mLaptop:h-[4.833rem]
        desktop:w-[5.8rem] desktop:h-[5.8rem]
        largeDesktop:w-[7.25rem] largeDesktop:h-[7.25rem]
        right-[1.82%]
        sLaptop:right-auto
        sLaptop:left-[64%]
        top-[15.5519rem]
        mobile:top-[20.7346rem]
        sMobile:top-[33.1774rem]
        mMobile:top-[39.813rem]
        sLaptop:top-[30.375rem] 
        mLaptop:top-[38rem] 
        desktop:top-[45.563rem] 
        largeDesktop:top-[57rem] 
        absolute
        z-[4]
        bg-PrimaryWhite opacity-50
        rounded-full
    }
    .imgCSS{
        @apply sLaptop:w-[calc(100%-3.333rem)] 
        mLaptop:w-[calc(100%-4.167rem)] 
        desktop:w-[calc(100%-5rem)] 
        largeDesktop:w-[calc(100%-6.25rem)] 
        absolute 
        bottom-0 right-0
    }
    .partOneCSS{
        @apply relative w-full 
        sLaptop:min-h-[40rem]
        pb-[3.564rem]
        mobile:pb-[4.753rem]
        sMobile:pb-[7.604rem]
        mMobile:pb-[9.125rem]
        sLaptop:pb-0
        sLaptop:pl-[3.333rem]
        mLaptop:pl-[4.167rem]
        desktop:pl-[5rem]
        largeDesktop:pl-[6.25rem]
        sLaptop:pt-[3.9rem]
        mLaptop:pt-[4.875rem]
        desktop:pt-[5.85rem]
        largeDesktop:pt-[7.313rem]
    }
    .partTwoCSS{
        @apply 
        bg-SiteGreen
        relative 
        w-full

        sLaptop:pl-[3.333rem]
        mLaptop:pl-[4.167rem]
        desktop:pl-[5rem]
        largeDesktop:pl-[6.25rem]

        pt-[1.831rem]
        mobile:pt-[2.441rem]
        sMobile:pt-[3.906rem]
        mMobile:pt-[4.688rem]
        sLaptop:pt-[4.25rem]
        mLaptop:pt-[5.333rem]
        desktop:pt-[6.4rem]
        largeDesktop:pt-[8rem]
    }
    .mockBrowser{
        @apply relative z-[10] 
        backdrop-blur-[.75rem]
        bg-GlassBackground
        overflow-hidden 

        mt-[1.563rem]
        mobile:mt-[2.083rem]
        sMobile:mt-[3.333rem]
        mMobile:mt-[4rem]

        w-[calc(100%-6.51%)]
        mx-auto
        sLaptop:w-full 
        flex flex-col

        px-[0.488rem]
        mobile:px-[0.651rem]
        sMobile:px-[1.042rem]
        mMobile:px-[1.25rem]
        sLaptop:px-[0.667rem]
        mLaptop:px-[0.833rem]
        desktop:px-[1rem]
        largeDesktop:px-[1.25rem]

        pb-[0.488rem]
        mobile:pb-[0.651rem]
        sMobile:pb-[1.042rem]
        mMobile:pb-[1.25rem]
        sLaptop:pb-[0.667rem]
        mLaptop:pb-[0.833rem]
        desktop:pb-[1rem]
        largeDesktop:pb-[1.25rem]

        pt-[0.488rem]
        mobile:pt-[0.651rem]
        sMobile:pt-[1.042rem]
        mMobile:pt-[1.25rem]
        sLaptop:pt-[0.333rem]
        mLaptop:pt-[0.417rem]
        desktop:pt-[0.5rem]
        largeDesktop:pt-[.75rem]
        
        rounded-[0.293rem]
        mobile:rounded-[0.391rem]
        sMobile:rounded-[0.625rem]
        mMobile:rounded-[0.75rem]
        sLaptop:rounded-[0.667rem]
        mLaptop:rounded-[0.833rem]
        desktop:rounded-[1rem]
        largeDesktop:rounded-[1.25rem]
        
        mockBrowserTiny
        mobile:mockBrowsermobile
        sMobile:mockBrowsersMobile
        mMobile:mockBrowsermMobile
        sLaptop:mockBrowserSmallLaptop
        mLaptop:mockBrowserMediumLaptop
        desktop:mockBrowserDesktop
        largeDesktop:mockBrowserlargeDekstop
    }
    .contactLabelText{
        @apply 
        text-PrimaryWhite 
        text-[1.343rem]
        mobile:text-[1.791rem]
        sMobile:text-[2.864rem]
        mMobile:text-[3.438rem]
        sLaptop:text-[2rem]
        mLaptop:text-[2.5rem]
        desktop:text-[3rem]
        largeDesktop:text-[3.75rem] 
        leading-tight 
        font-medium
        relative
        flex justify-between
        items-center
    }
}

@layer utilities {

    .filterSVG{
        filter: invert(30%) sepia(98%) saturate(324%) hue-rotate(124deg) brightness(94%) contrast(88%);
    }

    /* scrollbark */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    /* grid columns set up */
    .tinyCol{
        grid-template-rows:minmax(8.375rem, 8.375rem);
        grid-template-columns: repeat(auto-fit, minmax(7.311rem,7.311rem));
        grid-gap:0.611rem;
    }
    .mobileCol{
        grid-template-rows:minmax(11.166rem, 11.166rem);
        grid-template-columns: repeat(auto-fit, minmax(9.749rem,9.749rem));
        grid-gap: 0.814rem;
    }
    .sMobileCol{
        grid-template-rows:minmax(17.866rem,17.866rem);
        grid-template-columns: repeat(auto-fit, minmax(15.598rem,15.598rem));
        grid-gap: 1.302rem;
    }
    .mMobileCol{
        grid-template-rows:minmax(21.439rem,21.439rem);
        grid-template-columns: repeat(auto-fit, minmax(18.718rem,18.718rem));
        grid-gap: 1.563rem;
    }
    .sLaptopTempCol{
        grid-template-columns: repeat(auto-fit, minmax(11.02241rem, 11.02241rem));
        grid-gap: 2.21964rem;
    }

    .mLaptopTempCol{
        grid-template-columns: repeat(auto-fit, minmax(13.72602rem, 13.72602rem));
        grid-gap: 2.7640rem;
    }

    .desktopTempCol{
        grid-template-columns: repeat(auto-fit, minmax(16.6376rem, 16.6376rem));
        grid-gap: 3.3504rem;
    }

    .largeDesktoptempCol{
        grid-template-columns: repeat(auto-fit, minmax(20.797rem, 20.797rem));
        grid-gap: 4.188rem;
    }

    .animationDelay1s {
        animation-direction: reverse;
        animation-delay: .25s;
    }

    .animationDelay2s {
        animation-direction: reverse;
        animation-delay: .5s;
    } 

    .animationDelay3s {
        animation-direction: reverse;
        animation-delay: .75s;
    } 

    @keyframes reversebounce {
        0%,100% {
            transform: none;
            animation-timing-function: cubic-bezier(0,0,0.2,1);
        }
        50% {
            transform: translateY(-25%);
            animation-timing-function: cubic-bezier(0.8,0,1,1);
        }
    }

    .scrollSection::-webkit-scrollbar{
        background:transparent;
    }

    .scrollSection::-webkit-scrollbar-thumb{
        background: var(--rDarkGreen);
        border-radius: 20px;
    }

    /* fix overflow bug */
    .overflowFix{
        -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
    }

    /* add curve to browser select */
    .largerInvertLeft{
        box-shadow: 1rem 0 0 0 var(--rPrimaryWhite);
    }
    .LargerInvertRight{
        box-shadow: -1rem 0 0 0 var(--rPrimaryWhite);
    }
    .invertLeft{
        box-shadow: .5rem 0 0 0 var(--rPrimaryWhite);
    }

    /* css for the inverted border radius for the selected tab */
    .invertRight{
        box-shadow: -.5rem 0 0 0 var(--rPrimaryWhite);
    }
    /* filtering the x svg but didnt work so its unused */
    .filterCloseSVG {
        filter: invert(18%) sepia(0%) saturate(1575%) hue-rotate(209deg) brightness(100%) contrast(93%); }

    .customShadow {
        box-shadow: 0 0.625rem 1.25rem 0 rgba(0,0,0,.5);
    }
    .contactDivShadowmTiny{
        box-shadow: 0.248rem 0.309rem 0 rgba(0, 0, 0, .5);
    }
    .contactDivShadowMobile{
        box-shadow: 0.329rem 0.412rem 0 rgba(0, 0, 0, .5);
    }
    .contactDivShadowsMobile{
        box-shadow: 0.528rem 0.659rem 0 rgba(0, 0, 0, .5);
    }
    .contactDivShadowmMobile{
        box-shadow: 0.633rem 0.791rem 0 rgba(0, 0, 0, .5);
    }
    .contactDivShadowSmall{
        box-shadow: 0.6rem 0.75rem 0 rgba(0, 0, 0, .5);
    }

    .contactDivShadowMedium{
        box-shadow: 0.75rem 0.938rem 0 rgba(0, 0, 0, .5);
    }

    .contactDivShadowDesktop{
        box-shadow: 0.9rem 1.125rem 0 rgba(0, 0, 0, .5);
    }

    .contactDivShadowLarge{
        box-shadow: 1.125rem 1.406rem 0 rgba(0, 0, 0, .5);
    }

    /* Skills box shadow */
    .infoTiny{
        box-shadow: 0.258rem 0.323rem 0 0 rgba(0,0,0,.5);
    }
    .informobile{
        box-shadow: 0.344rem 0.43rem 0 0 rgba(0,0,0,.5);
    }
    .infosMobile{
        box-shadow: 0.55rem 0.688rem 0 0 rgba(0,0,0,.5);
    }
    .informMobile{
        box-shadow: 0.66rem 0.825rem 0 0 rgba(0,0,0,.5);
    }
    .infoSmall{
        box-shadow: 0.66rem 0.825rem 0 0 rgba(0,0,0,.5);
    }

    .infoMedium{
        box-shadow: 0.825rem 1.031rem 0 0 rgba(0,0,0,.5);
    }

    .infoDesktop{
        box-shadow: 0.99rem 1.238rem 0 0 rgba(0,0,0,.5);
    }

    .infoLargeDesktop{
        box-shadow: 1.238rem 1.547rem 0 0 rgba(0,0,0,.5);
    }

    /* shadow for the about me divs */
    .divTinyShadow{
        box-shadow: -0.146rem 0.219rem 0 0 rgba(0,0,0,.5);
    }

    .divMobileShadow{
        box-shadow: -0.194rem 0.291rem 0 0 rgba(0,0,0,.5);
    }

    .divsMobileShadow{
        box-shadow: -0.311rem 0.466rem 0 0 rgba(0,0,0,.5);
    }

    .divmMobileShadow{
        box-shadow: -0.373rem 0.56rem 0 0 rgba(0,0,0,.5);
    }

    .divSmallShadow{
        box-shadow: -0.333rem 0.5rem 0 0 rgba(0,0,0,.5);
    }

    .divMediumShadow{
        box-shadow: -0.417rem 0.625rem 0 0 rgba(0,0,0,.5);
    }

    .divDesktopShadow{
        box-shadow: -0.5rem 0.75rem 0 0 rgba(0,0,0,.5) ;
    }

    .divLargeDesktopShadow{
        box-shadow: -0.625rem 0.938rem 0 0 rgba(0,0,0,.5) ;
    }

    /* Home Sections TExt */
    .heroTextMobileTiny{
        text-shadow: -0.1757rem 0.1757rem 0 rgba(0,0,0,.5);
    }

    .heroTextMobile{
        text-shadow: -0.2343rem 0.2343rem 0 rgba(0,0,0,.5);
    }

    .heroTextSmallMobile{
        text-shadow: -0.37rem 0.37rem 0 rgba(0,0,0,.5);
    }

    .heroTextMediumMobile{
        text-shadow: -0.45rem .45rem 0 rgba(0,0,0,.5);
    }

    .heroTextSmall{
        text-shadow: -0.333rem .333rem 0 rgba(0,0,0,.5);
    }

    .heroTextMedium{
        text-shadow: -0.417rem .417rem 0 rgba(0,0,0,.5);
    }

    .heroTextDesktop{
        text-shadow: -0.5 .5rem 0 rgba(0,0,0,.5);
    }

    .heroTextLarge{
        text-shadow: -0.625rem 0.625rem 0 rgba(0,0,0,.5);
    }

    /* Section header text */
    .sectionText{
        text-shadow: -0.073rem 0.146rem 0 rgba(0,0,0,.5);
    }
    .sectionTextMobile{
        text-shadow: -0.097rem 0.194rem 0 rgba(0,0,0,.5);
    }
    .sectionTextsMobile{
        text-shadow: -0.156rem 0.311rem 0 rgba(0,0,0,.5);
    }
    .sectionTextmMobile{
        text-shadow: -0.187rem 0.373rem 0 rgba(0,0,0,.5);
    }
    .sectionTextSmall{
        text-shadow: -0.167rem 0.333rem 0 rgba(0,0,0,.5);
    }

    .sectionTextMedium{
        text-shadow: -0.208rem 0.417rem 0 rgba(0,0,0,.5);
    }

    .sectionTextDesktop{
        text-shadow: -0.25rem 0.5rem 0 rgba(0,0,0,.5);
    }

    .sectionTextLarge{
        text-shadow: -0.313rem 0.625rem 0 rgba(0,0,0,.5);
    }

    /* smaller text shadow */
    .textShadowTiny{
        text-shadow: -0.065m 0.065rem 0 rgba(0,0,0,.5);
    }
    .textShadowmobile{
        text-shadow: -0.087rem 0.087rem 0 rgba(0,0,0,.5);
    }
    .textShadowsMobile{
        text-shadow: -0.139rem 0.139rem 0 rgba(0,0,0,.5);
    }
    .textShadowmMobile{
        text-shadow: -0.167rem 0.167rem 0 rgba(0,0,0,.5);

    }
    .textShadowSmall{
        text-shadow: -0.167rem 0.167rem 0 rgba(0,0,0,.5);
    }

    .textShadowMedium{
        text-shadow: -0.208rem .208rem 0 rgba(0,0,0,.5);
    }

    .textShadowDesktop{
        text-shadow: -0.25rem .25rem 0 rgba(0,0,0,.5);
    }

    .textShadowLarge{
        text-shadow: -0.313rem 0.313rem 0 rgba(0,0,0,.5);
    }

    /* browser shadow from the portfolio section  */
    .mockBrowserTiny{
        box-shadow: 0.261rem 0.326rem 0 0 rgba(0,0,0,.5);
    }
    .mockBrowsermobile{
        box-shadow: 0.348rem 0.434rem 0 0 rgba(0,0,0,.5);
    }
    .mockBrowsersMobile{
        box-shadow: 0.556rem 0.694rem 0 0 rgba(0,0,0,.5);
    }
    .mockBrowsermMobile{
        box-shadow: 0.667rem 0.833rem 0 0 rgba(0,0,0,.5);
    }

    .mockBrowserSmallLaptop{
        box-shadow: 0.667rem 0.833rem 0 0 rgba(0,0,0,.5);
    }

    .mockBrowserMediumLaptop{
        box-shadow: 0.833rem 1.042rem 0 0 rgba(0,0,0,.5);
    }

    .mockBrowserDesktop{
        box-shadow: 1rem 1.25rem 0 0 rgba(0,0,0,.5);
    }

    .mockBrowserlargeDekstop{
        box-shadow: 1.25rem 1.563rem 0 0 rgba(0,0,0,.5);
    }
}