@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@layer base {
    :root {
        --rPrimaryWhite: #F5F5F5;
        --rSidebarGray: #333533;
        --rYellow: #F5CB5C;
        --rBgGreen: #0FAC82;
        --rDarkGreen: #085641;
        --rDarkerGlass:rgba(44, 47, 72,.85);
        --rGlassWindow: rgba(44, 47, 72,.5);
        --rGlassWindowLighter:rgba(44, 47, 72,.2);
        --rGlassWindowLighterSelect:rgba(44, 47, 72,.1);
        --rGrayBack: #C5C5C5;
        --rSelectBlue: #4699E5;
    }
    html,body {
        
        @apply bg-PrimaryWhite font-Akshar
    }
}

@layer components{

    .projectFlexDiv{
        @apply 
        mx-auto 
        w-full
        grid
        sLaptop:sLaptopTempCol
        mLaptop:mLaptopTempCol
        desktop:desktopTempCol
        largeDesktop:largeDesktoptempCol
        sLaptop:h-[23.467rem]
        mLaptop:h-[29.333rem]
        desktop:h-[35.2rem]
        largeDesktop:h-[44rem]
        sLaptop:pt-[0.667rem]
        mLaptop:pt-[0.846rem]
        desktop:pt-[1.016rem]
        largeDesktop:pt-[1.25rem]
        overflow-y-scroll
        overflowFix
    }

    .projectCSS{
        @apply 
        inline-block
        sLaptop:w-[11.16339rem]
        mLaptop:w-[13.90158rem]
        desktop:w-[16.8504rem]
        largeDesktop:w-[21.063rem]
        sLaptop:h-[12.62089rem]
        mLaptop:h-[15.71658rem]
        desktop:h-[19.0504rem]
        largeDesktop:h-[23.813rem]
        sLaptop:rounded-[0.40068rem]
        mLaptop:rounded-[0.49896rem]
        desktop:rounded-[0.6048rem]
        largeDesktop:rounded-[.756rem]
        relative
        sLaptop:hover:ring-[0.10918rem]
        mLaptop:hover:ring-[0.13596rem]
        desktop:hover:ring-[0.1648rem]
        largeDesktop:hover:ring-[0.206rem]
        hover:ring-offset-0
        hover:ring-SelectBlue
        hover:cursor-pointer
    }

    .bubble {
        @apply 
        sLaptop:w-[2.385rem]
        mLaptop:w-[2.97rem]
        desktop:w-[3.6rem]
        largeDesktop:w-[4.5rem]
        sLaptop:h-[2.385rem] 
        mLaptop:h-[2.97rem]
        desktop:h-[3.6rem]
        largeDesktop:h-[4.5rem]  
        opacity-75
        block 
        rounded-full
    }

    .mockBrowserSelected {
        @apply 
        sLaptop:w-[8.9rem]
        mLaptop:w-[11.125rem]
        desktop:w-[13.35rem]
        largeDesktop:w-[16.688rem]
        

        sLaptop:h-full
        absolute
        z-[4]
        bottom-0
        sLaptop:left-[1.333rem]
        mLaptop:left-[1.666rem]
        desktop:left-[2rem]
        largeDesktop:left-[3.125rem]
        bg-PrimaryWhite

        sLaptop:rounded-t-[.53rem]
        mLaptop:rounded-t-[.66rem]
        desktop:rounded-t-[.8rem]
        largeDesktop:rounded-t-[1rem]

        after:content-['']
        after:block
        after:absolute
        after:sLaptop:w-[1.325rem]
        after:mLaptop:w-[1.65rem]
        after:desktop:w-[2rem]
        after:largeDesktop:w-[2.5rem]
        after:sLaptop:h-[1rem]
        after:mLaptop:h-[1.33rem]
        after:desktop:h-[1.66rem]
        after:largeDesktop:h-[2rem]
        after:bottom-0
        after:sLaptop:right-[-1.325rem]
        after:mLaptop:right-[-1.65rem]
        after:desktop:right-[-2rem]
        after:largeDesktop:right-[-2.5rem]
        after:sLaptop:rounded-bl-[.424rem]
        after:mLaptop:rounded-bl-[0.528rem]
        after:desktop:rounded-bl-[.64rem]
        after:largeDesktop:rounded-bl-[.8rem]
        after:invertRight
        after:bg-transparent

        before:content-['']
        before:block
        before:absolute
        before:sLaptop:w-[1.325rem]
        before:mLaptop:w-[1.65rem]
        before:desktop:w-[2rem]
        before:largeDesktop:w-[2.5rem]
        before:sLaptop:h-[1rem]
        before:mLaptop:h-[1.33rem]
        before:desktop:h-[1.66rem]
        before:largeDesktop:h-[2rem]
        before:bottom-0
        before:sLaptop:left-[-1.325rem]
        before:mLaptop:left-[-1.65rem]
        before:desktop:left-[-2rem]
        before:largeDesktop:left-[-2.5rem]
        before:sLaptop:rounded-br-[.424rem]
        before:mLaptop:rounded-br-[0.528rem]
        before:desktop:rounded-br-[.64rem]
        before:largeDesktop:rounded-br-[.8rem]
        before:invertLeft
        before:bg-transparent

    }
    .sectionCSS {
        @apply text-SiteYellow
        font-bold
        leading-none
        sLaptop:text-[3.333rem]
        mLaptop:text-[4.167rem]
        desktop:text-[5rem]
        largeDesktop:text-[6.25rem]
        sLaptop:sectionTextSmall
        mLaptop:sectionTextMedium
        desktop:sectionTextDesktop
        largeDesktop:sectionTextLarge
    }
    .circle1 {
        @apply sLaptop:w-[3.867rem] sLaptop:h-[3.867rem]
        mLaptop:w-[4.833rem] mLaptop:h-[4.833rem]
        desktop:w-[5.8rem] desktop:h-[5.8rem]
        largeDesktop:w-[7.25rem] largeDesktop:h-[7.25rem]
        sLaptop:top-[-1.367rem] sLaptop:left-[0.533rem]
        mLaptop:top-[-1.708rem] mLaptop:left-[0.667rem]
        desktop:top-[-2.05rem] desktop:left-[0.8rem]
        largeDesktop:top-[-2.563rem] largeDesktop:left-[1rem]
        absolute
        z-[4]
        bg-PrimaryWhite opacity-50
        rounded-full
    }
    .circle2{
        @apply sLaptop:w-[3.533rem] sLaptop:h-[3.533rem]
        mLaptop:w-[4.417rem] mLaptop:h-[4.417rem]
        desktop:w-[5.3rem] desktop:h-[5.3rem]
        largeDesktop:w-[6.625rem] largeDesktop:h-[6.625rem]
        sLaptop:left-[12%]
        sLaptop:top-[30.688rem]
        mLaptop:top-[38.375rem]
        desktop:top-[46.063rem]
        largeDesktop:top-[62rem]
        absolute
        z-[4]
        bg-PrimaryWhite opacity-50
        rounded-full
    }
    .circle3{
        @apply sLaptop:w-[5.5rem] sLaptop:h-[5.5rem]
        mLaptop:w-[6.875rem] mLaptop:h-[6.875rem]
        desktop:w-[8.25rem] desktop:h-[8.25rem]
        largeDesktop:w-[10.313rem] largeDesktop:h-[10.313rem]
        sLaptop:left-[37%]
        sLaptop:top-[-2.104rem]
        mLaptop:top-[-2.708rem] 
        desktop:top-[-3.25rem] 
        largeDesktop:top-[-4.063rem] 
        absolute
        z-[4]
        bg-PrimaryWhite opacity-50
        rounded-full
    }
    .circle4{
        @apply sLaptop:w-[3.867rem] sLaptop:h-[3.867rem]
        mLaptop:w-[4.833rem] mLaptop:h-[4.833rem]
        desktop:w-[5.8rem] desktop:h-[5.8rem]
        largeDesktop:w-[7.25rem] largeDesktop:h-[7.25rem]
        sLaptop:left-[64%]
        sLaptop:top-[30.375rem] 
        mLaptop:top-[38rem] 
        desktop:top-[45.563rem] 
        largeDesktop:top-[57rem] 
        absolute
        z-[4]
        bg-PrimaryWhite opacity-50
        rounded-full
    }
    .imgCSS{
        @apply sLaptop:w-[calc(100%-3.333rem)] 
        mLaptop:w-[calc(100%-4.167rem)] 
        desktop:w-[calc(100%-5rem)] 
        largeDesktop:w-[calc(100%-6.25rem)] 
        absolute 
        bottom-0 right-0
    }
    .partOneCSS{
        @apply relative w-full 
        min-h-[40rem]
        sLaptop:pl-[3.333rem]
        mLaptop:pl-[4.167rem]
        desktop:pl-[5rem]
        largeDesktop:pl-[6.25rem]
        sLaptop:pt-[3.9rem]
        mLaptop:pt-[4.875rem]
        desktop:pt-[5.85rem]
        largeDesktop:pt-[7.313rem]
    }
    .partTwoCSS{
        @apply bg-SiteGreen
        relative w-full
        min-h-[35rem]
        sLaptop:pl-[3.333rem]
        mLaptop:pl-[4.167rem]
        desktop:pl-[5rem]
        largeDesktop:pl-[6.25rem]
        sLaptop:pt-[4.25rem]
        mLaptop:pt-[5.333rem]
        desktop:pt-[6.4rem]
        largeDesktop:pt-[8rem]
    }
    .mockBrowser{
        @apply relative z-[10] 
        backdrop-blur-[.75rem]
        bg-GlassBackground
        overflow-hidden 
        w-full 
        flex flex-col

        sLaptop:px-[0.667rem]
        mLaptop:px-[0.833rem]
        desktop:px-[1rem]
        largeDesktop:px-[1.25rem]

        sLaptop:pb-[0.667rem]
        mLaptop:pb-[0.833rem]
        desktop:pb-[1rem]
        largeDesktop:pb-[1.25rem]

        sLaptop:pt-[0.333rem]
        mLaptop:pt-[0.417rem]
        desktop:pt-[0.5rem]
        largeDesktop:pt-[.75rem]
        
        sLaptop:rounded-[0.667rem]
        mLaptop:rounded-[0.833rem]
        desktop:rounded-[1rem]
        largeDesktop:rounded-[1.25rem]
        
        sLaptop:mockBrowserSmallLaptop
        mLaptop:mockBrowserMediumLaptop
        desktop:mockBrowserDesktop
        largeDesktop:mockBrowserlargeDekstop
    }
    .contactLabelText{
        @apply text-PrimaryWhite 
        sLaptop:text-[2rem]
        mLaptop:text-[2.5rem]
        desktop:text-[3rem]
        largeDesktop:text-[3.75rem] 
        leading-tight   
        font-medium
    }
}

@layer utilities {

    .sLaptopTempCol{
        grid-template-columns: repeat(auto-fit, minmax(11.02241rem, 11.02241rem));
        grid-gap: 2.21964rem;
    }

    .mLaptopTempCol{
        grid-template-columns: repeat(auto-fit, minmax(13.72602rem, 13.72602rem));
        grid-gap: 2.7640rem;
    }

    .desktopTempCol{
        grid-template-columns: repeat(auto-fit, minmax(16.6376rem, 16.6376rem));
        grid-gap: 3.3504rem;
    }

    .largeDesktoptempCol{
        grid-template-columns: repeat(auto-fit, minmax(20.797rem, 20.797rem));
        grid-gap: 4.188rem;
    }

    .animationDelay1s {
        animation-direction: reverse;
        animation-delay: .25s;
    }
    .animationDelay2s {
        animation-direction: reverse;
        animation-delay: .5s;
    } 
    .animationDelay3s {
        animation-direction: reverse;
        animation-delay: .75s;
    } 

    @keyframes reversebounce {
        0%,100% {
            transform: none;
            animation-timing-function: cubic-bezier(0,0,0.2,1);
        }
        50% {
            transform: translateY(-25%);
            animation-timing-function: cubic-bezier(0.8,0,1,1);
        }
    }

    .scrollSection::-webkit-scrollbar{
        background:transparent;
    }
    .scrollSection::-webkit-scrollbar-thumb{
        background: var(--rDarkGreen);
        border-radius: 20px;
    }

    /* fix overflow bug */
    .overflowFix{
        -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
    }

    /* add curve to browser select */
    .invertLeft{
        box-shadow: 1rem 0 0 0 var(--rPrimaryWhite);
    }

    /* css for the inverted border radius for the selected tab */
    .invertRight{
        box-shadow: -1rem 0 0 0 var(--rPrimaryWhite);
    }
    /* filtering the x svg but didnt work so its unused */
    .filterCloseSVG {
        filter: invert(18%) sepia(0%) saturate(1575%) hue-rotate(209deg) brightness(100%) contrast(93%);    }
    .customShadow {
        box-shadow: 0 0.625rem 1.25rem 0 rgba(0,0,0,.5);
    }
    .contactDivShadowSmall{
        box-shadow: 0.6rem 0.75rem 0 rgba(0, 0, 0, .5);
    }
    .contactDivShadowMedium{
        box-shadow: 0.75rem 0.938rem 0 rgba(0, 0, 0, .5);
    }
    .contactDivShadowDesktop{
        box-shadow: 0.9rem 1.125rem 0 rgba(0, 0, 0, .5);
    }
    .contactDivShadowLarge{
        box-shadow: 1.125rem 1.406rem 0 rgba(0, 0, 0, .5);
    }
    /* Skills box shadow */
    .infoSmall{
        box-shadow: 0.66rem 0.825rem 0 0 rgba(0,0,0,.5);
    }
    .infoMedium{
        box-shadow: 0.825rem 1.031rem 0 0 rgba(0,0,0,.5);
    }
    .infoDesktop{
        box-shadow: 0.99rem 1.238rem 0 0 rgba(0,0,0,.5);
    }
    .infoLargeDesktop{
        box-shadow: 1.238rem 1.547rem 0 0 rgba(0,0,0,.5);
    }
    /* shadow for the about me divs */
    .divSmallShadow{
        box-shadow: -0.333rem 0.5rem 0 0 rgba(0,0,0,.5);
    }
    .divMediumShadow{
        box-shadow: -0.417rem 0.625rem 0 0 rgba(0,0,0,.5);
    }
    .divDesktopShadow{
        box-shadow: -0.5rem 0.75rem 0 0 rgba(0,0,0,.5) ;
    }
    .divLargeDesktopShadow{
        box-shadow: -0.625rem 0.938rem 0 0 rgba(0,0,0,.5) ;
    }
    /* Home Sections TExt */
    .heroTextSmall{
        text-shadow: -0.333rem .333rem 0 rgba(0,0,0,.5);
    }
    .heroTextMedium{
        text-shadow: -0.417rem .417rem 0 rgba(0,0,0,.5);
    }
    .heroTextDesktop{
        text-shadow: -0.5 .5rem 0 rgba(0,0,0,.5);
    }
    .heroTextLarge{
        text-shadow: -0.625rem 0.625rem 0 rgba(0,0,0,.5);
    }
    /* Section header text */
    .sectionTextSmall{
        text-shadow: -0.167rem 0.333rem 0 rgba(0,0,0,.5);
    }
    .sectionTextMedium{
        text-shadow: -0.208rem 0.417rem 0 rgba(0,0,0,.5);
    }
    .sectionTextDesktop{
        text-shadow: -0.25rem 0.5rem 0 rgba(0,0,0,.5);
    }
    .sectionTextLarge{
        text-shadow: -0.313rem 0.625rem 0 rgba(0,0,0,.5);
    }
    /* smaller text shadow */
    .textShadowSmall{
        text-shadow: -0.167rem 0.167rem 0 rgba(0,0,0,.5);
    }
    .textShadowMedium{
        text-shadow: -0.208rem .208rem 0 rgba(0,0,0,.5);
    }
    .textShadowDesktop{
        text-shadow: -0.25rem .25rem 0 rgba(0,0,0,.5);
    }
    .textShadowLarge{
        text-shadow: -0.313rem 0.313rem 0 rgba(0,0,0,.5);
    }
    /* browser shadow from the portfolio section  */
    .mockBrowserSmallLaptop{
        box-shadow: 0.667rem 0.833rem 0 0 rgba(0,0,0,.5);
    }
    .mockBrowserMediumLaptop{
        box-shadow: 0.833rem 1.042rem 0 0 rgba(0,0,0,.5);
    }
    .mockBrowserDesktop{
        box-shadow: 1rem 1.25rem 0 0 rgba(0,0,0,.5);
    }
    .mockBrowserlargeDekstop{
        box-shadow: 1.25rem 1.563rem 0 0 rgba(0,0,0,.5);
    }
}